!!!5
%html
  %head
    %title Document Storage
  
  %body
    #wrapper
      #headers
        %h1 Wellcome to the Document Storage!
      #nav
        %ol
          = link_to('sign out', root_path)
      

      #Users
        %h2 List all users
        - @users.each do |user|
          %li
            = link_to(user.email, user) 

      #content
        %yield
    
  
