-content_for :title do
  %title Users page

%h1 Wellcome to the Document Storage!
#Stright_link
  %ol
    = link_to "All documents", user_documents_path(current_user)

#list_links
  %h2 List all users
  %ol
    %h4 Users needing approval
    - @users.each do |user|
      -if user && !user.approved?
        =link_to(user.email, user)
        ||
        =link_to("Approve", approve_user_path(user), :method => :put)
    
    %h4 Users in system
    -@users.each do |user|
      -if user && user.approved?
        %li
          = link_to(user.email, user)
        
    
  
