-content_for :title do
  %title Users page

%h1 Wellcome to the Document Storage!
#nav
  %ol
    = link_to('sign out', destroy_user_session_path, :method => "delete")
    = link_to "All documents", user_documents_path(current_user)

#Users
  %h2 List all users
  %ol
    - @users.each do |user|
      %li
        = link_to(user.email, user)
        ||
        =link_to("edit user", edit_user_registration_path(user)) 
        -# - if can? :manage :user
        ||
        =link_to("delete user", cancel_user_registration_path(user))

    
  
