!!!5
%html
  %head
    %title User
  %body
    #profile
      %h2 Profile
      %h5 Email -
      =@user.email

    #Documents
      %h2 Documents
      
      %h5 Users documents

      %h5 Other documents
