

%form
  = label :document ,:title, "Title"
  = text_field :document ,:title
  = label :document, :attached_file, "Document Path"
  = file_field :document, :attached_file :
  %input{:type => "submit", :value => "Save"} 
