- content_for :title do
  %title DocStor- Documents

#list
  %h2 All documents
  -@documents.each do |doc|
    %ol
      -if can? :read, doc
        =link_to(doc.title, [doc.user, doc])

      -if can? :manage, :all
        ||--  |  --||
        =link_to("edit", edit_user_document_path(@user,doc))
        ||
        =link_to("delete", [@user,doc], :metod => :delete, :cofirm => "are you sure You want to delete this document")
        -if !doc.open
          ||
          =link_to("make public", open_user_document_path(@user, doc), :method => :put)
      
      -if can? :read, doc
        %p 
          %ol
            Tags: 
            =raw doc.tag_list.map { |t| link_to( t, user_tag_path(current_user, t))}.join(', ')

