
-content_for :title do
  %title Document view

-status = ""
-if !@document.open?
  -status = "Protected"
-else 
  -status = "Public"


%h2 #{@document.title}

Tags: #{@document.tag_list}
%p 
  =link_to(File.basename(@document.doc_file.path),
    @document.doc_file.url)
%p
  %h5 View Status: #{status}

#footer
  %p
    Uploaded by: #{@document.user.email}
