!!!5
%html
  %head
    %title Document Storage
  
  %body
    #wrapper
      #headers
        %h1 Wellcome to the Document Storage!
      #nav
        %ol
          %a{:href => '/index', :title => 'sign up'} sing up
      
          %a{:href => '/index', :title => 'login'} login

          %a{:href => '/index', :title => 'recover'} recover lost password      #content
        %yield
  
